body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.box {
    margin: 0;
    padding: 5px;
    text-align: center;
}

h1 {
    text-align: center;
}

.calculator {
    margin-top: 5px;
    text-align: center;
}

label,
textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
}

.resultInv{
    transform: translateY(200px);

}